body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
  }
  
  nav button {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    background-color: transparent;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: black;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  
  .background-image {
    flex-grow: 1;
    background-image: url("https://www.rei.com/dam/content_052716_0927_backpacks_sizing_fit_lg.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .content {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    text-align: center;
  }
  